<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel = "stylesheet" href ="app.css">
    <title>Conversions</title>
</head>
<body>
    <h1>Currency Converter</h1>
    {% block content %}
    <form method="POST" class="conversions">
        Converting from :
        <input name="text" class="word">
        Converting to :
        <input name="text" class="word">
        Amount :
        <input name="text" class="word">
        
        <button>Convert</button>
      </form>
      {% endblock %}
</body>
</html>